<# Add_Class() #>
<# Add_Enum(n:="None", v:=0, d:="Indicates no State, e.g. no Document") #>
<# Add_Enum(n:="Existing", v:=1, d:="Indicates Document was already Open") #>
<# Add_Enum(n:="Opened", v:=2, d:="Indicates Document was Opened from File") #>
<# Add_Enum(n:="Created", v:=3, d:="Indicates Document was Created") #>
<#@ include file="%TEMPLATES_PATH%\Classes\VB_Enum.tt" #>